@import '~bootstrap/scss/bootstrap';

@import './partials/header.scss';

@import './partials/footer.scss';


body{
    background-color: #141414
}


a{
    text-decoration: none;
}

main{
    #container{
        .card{
            background-color:  #2a2929c6;
            color: white;
            &:hover{
                scale: 102%;
                cursor: pointer;
            }
            .card-body{
                p{
                    margin: 0;
                }
            }
        }
    }
}