footer{
    // height: 10rem;
    background-color: #141414;
    .container{
        div{
            a{
                color:white;
                i{
                    font-size: 1.5rem;
                    margin: 0 1.5rem 0 0;
                }
            }
        }
        #navFooter{
            div{
                a{
                    span{
                        margin-bottom: 1rem;
                        font-size: 0.8rem;
                        color: rgb(116, 113, 113);
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
        }
        span{
            font-size: 0.8rem;
            color: rgb(116, 113, 113);
        }
    }

}